@model IEnumerable<Challenge_Odontoprev_ADB.Application.DTOs.ConsultaDTO>
﻿@{
	ViewData["Title"] = "Gestor de Consultas";
}

<h1>Appointments Checklist</h1>

<a asp-controller="Appointment" asp-action="Create" class="btn btn-primary mt-2 mb-4">Create New Appointment</a>

@Html.Partial("_AppointmentTable", Model)

