@model IEnumerable<Challenge_Odontoprev_ADB.Models.Entities.Appointment>
﻿@{
	ViewData["Title"] = "Challenge_Odontoprev_ADB";
}

<h1>Appointments</h1>

<a asp-controller="Appointment" asp-action="Create" class="btn btn-primary">Create New Appointment</a>

@Html.Partial("_AppointmentTable", Model)

