<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OdontoCare</a>
        <div>
            <a class="btn bg-light" asp-area="" asp-controller="Appointment" asp-action="Create">Criar Appointment</a>
            <a class="btn bg-light" asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
        </div>
    </div>
</nav>
